<h1>Welcome to the Heroes Application</h1>
<div class = "space"></div>
<div class = "space"></div>

<div class="btns">
    <a href="/squads/new"><button class="btn btn-cyan">Add a new Squad</button></a>
    <a href="/squads"><button class="btn btn-cyan">View all Squads</button></a>
</div>
