<h1>Add a new squad</h1>

<p>Add a squad here:</p>

<form action="/squads" method="post">
  <label for="name">Squad name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success btn-block">Add Squad</button>
</form>